{{ header }}
<style type="text/css">
  .alert {
    overflow: hidden;
  } 
  .alert-fixed {
    position: fixed;
    width: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 12px 12px 0 rgba(0,0,0,0.2);
  }
  .save-settings {
    background-color: #00AE5D!important;
  }
  .save-popup {
    position: absolute;
    right: -24px;
    top: 0;
  }
  .trade-import-options {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
  }
  .trade-import-options > div {
    display: inline-block;
    width: 33%;
    padding: 0;
    margin-bottom: 12px;
  }
  .trade-import-options.half-size > div {
    width: 50%;
  }
  .trade-import-options > div > div {
    width: 100%;
  }
  .trade-import-options .control-label {
    width: initial;
    padding-top: 0;
    text-align: left;
    text-align-last: left;
  }
  .trade-import-options .form-group + .form-group {
    border-top: none;
  }
  .hr {
    border-top: 1px solid #ccc;
    margin: 15px -15px;
  }
  p button {
    margin: 8px 0;
  }
  @media (max-width: 920px) {
    .trade-import-options > div {
      display: inline-block;
      width: 50%;
    }
  }
  @media (max-width: 600px) {
    .trade-import-options > div {
      display: inline-block;
      width: 100%;
    }
    .trade-import-options.half-size > div {
      width: 100%;
    }
  }
</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_save }} (AJAX)" class="save-settings btn btn-primary"><i class="fa fa-save"></i></button>
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if success %}
    <div class="alert alert-success alert-dismissible" style="margin: 20px;"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
          <div class="panel panel-info">
        <h4 class="panel-heading">{{ text_enable_sync }}</h4>
          <div class="panel-body">
            <ul>
              <li><strong>{{ text_latest_operation }}</strong>
                <ul>
                  <li>{{ text_latest_id }}: {{ latest_id }}</li>
                  <li>{{ text_latest_timestamp}}: {{ latest_timestamp }}</li>
                  <li>{{ text_latest_json_timestamp }}: {{ latest_json_timestamp }}</li>
                  <li>{{ text_latest_success }}: {{ latest_success }}</li>
                </ul>
              </li>
              {% if module_trade_import_enable_sync %}
              <li><strong id="next-schedule">{{ text_next_schedule }}: <span>{{ next_schedule }}</span></strong></li>
              {% endif %}
            </ul>
          </div>
            </div>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="trade-import-options">
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-server">{{ entry_server }}</label>
              <div class="col-sm-10">
                <textarea name="module_trade_import_server" rows="5" id="input-server" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%; margin-bottom: 16px;">{{ module_trade_import_server }}</textarea>
                {% if error_code %}
                <div class="text-danger">{{ error_code }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-code">{{ entry_code }}</label>
              <div class="col-sm-10">
                <textarea name="module_trade_import_code" rows="5" id="input-code" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%; margin-bottom: 16px;">{{ module_trade_import_code }}</textarea>
                {% if error_code %}
                <div class="text-danger">{{ error_code }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-nomenclature">{{ entry_nomenclature }}</label>
              <div class="col-sm-10">
                <textarea name="module_trade_import_nomenclature" rows="5" id="input-nomenclature" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%; margin-bottom: 16px;">{{ module_trade_import_nomenclature }}</textarea>
                {% if error_code %}
                <div class="text-danger">{{ error_code }}</div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-token">{{ entry_token }}</label>
            <div class="col-sm-10">
            <textarea name="module_trade_import_token" rows="5" id="input-token" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%; margin-bottom: 16px;">{{ module_trade_import_token }}</textarea>
            </div>
          </div>
          <hr class="hr">
          <div class="trade-import-options">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-enable-old-api">{{ entry_enable_old_api }}</label>
              <div class="col-sm-10">
                <select name="module_trade_import_enable_old_api" id="input-enable-old-api" class="form-control">
                {% if module_trade_import_enable_old_api %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-old-api-address">{{ entry_old_api_address }}</label>
              <div class="col-sm-10">
              <textarea name="module_trade_import_old_api_address" rows="5" id="input-old-api-address" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%; margin-bottom: 16px;">{{ module_trade_import_old_api_address }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-old-api-token">{{ entry_old_api_token }}</label>
              <div class="col-sm-10">
              <textarea name="module_trade_import_old_api_token" rows="5" id="input-old-api-token" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%; margin-bottom: 16px;">{{ module_trade_import_old_api_token }}</textarea>
              </div>
            </div>
          </div>
          <hr class="hr">
          <div class="trade-import-options">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-enable-order"><span data-toggle="tooltip" title="{{ help_enable_order }}">{{ entry_enable_order }}</span></label>
              <div class="col-sm-10">
                <select name="module_trade_import_enable_order" id="input-enable-order" class="form-control">
                {% if module_trade_import_enable_order %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-order-address"><span data-toggle="tooltip" title="{{ help_entry_order_address }}">{{ entry_order_address }}</span></label>
                 <div class="col-sm-10">
                  <textarea name="module_trade_import_order_address" rows="5" id="input-order-address" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%;">{{ module_trade_import_order_address }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-order-token"><span data-toggle="tooltip" title="{{ help_entry_order_token }}">{{ entry_order_token }}</span></label>
                 <div class="col-sm-10">
                  <textarea name="module_trade_import_order_token" rows="5" id="input-order-token" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%;">{{ module_trade_import_order_token }}</textarea>
              </div>
            </div>
          </div>
          <hr class="hr">
          <div class="trade-import-options half-size">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-price"><span data-toggle="tooltip" title="{{ help_entry_price }}">{{ entry_price }}</span></label>
                 <div class="col-sm-10">
                  <textarea name="module_trade_import_price" rows="5" id="input-price" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%;">{{ module_trade_import_price }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-top-category"><span data-toggle="tooltip" title="{{ help_entry_top_category }}">{{ entry_top_category }}</span></label>
                 <div class="col-sm-10">
                  <textarea name="module_trade_import_top_category" rows="5" id="input-top-category" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%;">{{ module_trade_import_top_category }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-price-map"><span data-toggle="tooltip" title="{{ help_entry_price_map }}">{{ entry_price_map }}</span></label>
                 <div class="col-sm-10">
                  <textarea name="module_trade_import_price_map" rows="5" id="input-price-map" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%;">{{ module_trade_import_price_map }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-parent-id"><span data-toggle="tooltip" title="{{ help_entry_parent_id }}">{{ entry_parent_id }}</span></label>
                 <div class="col-sm-10">
                  <textarea name="module_trade_import_parent_id" rows="5" id="input-parent-id" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%;">{{ module_trade_import_parent_id }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-ignore-category"><span data-toggle="tooltip" title="{{ help_entry_ignore_category }}">{{ entry_ignore_category }}</span></label>
                 <div class="col-sm-10">
                  <textarea name="module_trade_import_ignore_category" rows="5" id="input-ignore-category" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%;">{{ module_trade_import_ignore_category }}</textarea>
              </div>
            </div>
          </div>
          <hr class="hr">
          <div class="trade-import-options half-size">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-complects-group"><span data-toggle="tooltip" title="{{ help_entry_complects_group }}">{{ entry_complects_group }}</span></label>
                 <div class="col-sm-10">
                  <textarea name="module_trade_import_complects_group" rows="5" id="input-complects-group" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%;">{{ module_trade_import_complects_group }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-complects-ignore-quantity"><span data-toggle="tooltip" title="{{ help_entry_complects_ignore_quantity }}">{{ entry_complects_ignore_quantity }}</span></label>
                 <div class="col-sm-10">
                  <textarea name="module_trade_import_complects_ignore_quantity" rows="5" id="input-complects-ignore-quantity" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%;">{{ module_trade_import_complects_ignore_quantity }}</textarea>
              </div>
            </div>
          </div>
          <hr class="hr">
          <div class="trade-import-options">
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-enable-sync"><span data-toggle="tooltip" title="{{ help_enable_sync }}">{{ entry_enable_sync }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_enable_sync" id="input-enable-sync" class="form-control">
                    {% if module_trade_import_enable_sync %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-sync-period"><span data-toggle="tooltip" title="{{ help_sync_period }}">{{ entry_sync_period }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_sync_period" id="input-sync-period" class="form-control">
                      {% for sync_option in sync_options %}
                        {% if module_trade_import_sync_period == sync_option.value %}
                          <option value={{ sync_option.value }} selected="selected">{{ sync_option.text }}</option>
                          {% else %}
                          <option value={{ sync_option.value }}>{{ sync_option.text }}</option>
                          {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-time-zone"><span data-toggle="tooltip" title="{{ help_time_zone }}">{{ entry_time_zone }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_time_zone" id="input-time-zone" class="form-control">
                      {% for timezone_option in timezone_options %}
                        {% if module_trade_import_time_zone == timezone_option %}
                          <option value={{ timezone_option }} selected="selected">{{ timezone_option }}</option>
                          {% else %}
                          <option value={{ timezone_option }}>{{ timezone_option }}</option>
                          {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-local-json"><span data-toggle="tooltip" title="{{ help_local_json }}">{{ entry_local_json }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_local_json" id="input-local-json" class="form-control">
                    {% if module_trade_import_local_json %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-save-json"><span data-toggle="tooltip" title="{{ help_save_json }}">{{ entry_save_json }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_save_json" id="input-save-json" class="form-control">
                    {% if module_trade_import_save_json %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
            <hr class="hr">
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-add-category"><span data-toggle="tooltip" title="{{ help_add_category }}">{{ entry_add_category }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_add_category" id="input-add-category" class="form-control">
                    {% if module_trade_import_add_category %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-delete-category"><span data-toggle="tooltip" title="{{ help_delete_category }}">{{ entry_delete_category }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_delete_category" id="input-delete-category" class="form-control">
                    {% if module_trade_import_delete_category %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-hide-category"><span data-toggle="tooltip" title="{{ help_hide_category }}">{{ entry_hide_category }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_hide_category" id="input-hide-category" class="form-control">
                    {% if module_trade_import_hide_category %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
            <div class="form-group" style="display: none;">
                  <label class="col-sm-2 control-label" for="input-sub-filters"><span data-toggle="tooltip" title="{{ help_sub_filters }}">{{ entry_sub_filters }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_sub_filters" id="input-sub-filters" class="form-control">
                    {% if module_trade_import_sub_filters %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
            <hr class="hr">
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-add-product"><span data-toggle="tooltip" title="{{ help_add_product }}">{{ entry_add_product }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_add_product" id="input-add-product" class="form-control">
                    {% if module_trade_import_add_product %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-delete-product"><span data-toggle="tooltip" title="{{ help_delete_product }}">{{ entry_delete_product }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_delete_product" id="input-delete-product" class="form-control">
                    {% if module_trade_import_delete_product %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-hide-product"><span data-toggle="tooltip" title="{{ help_hide_product }}">{{ entry_hide_product }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_hide_product" id="input-hide-product" class="form-control">
                    {% if module_trade_import_hide_product %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-add-separate-products"><span data-toggle="tooltip" title="{{ help_add_separate_products }}">{{ entry_add_separate_products }}</span></label>
                  <div class="col-sm-10">
                    <select name="module_trade_import_add_separate_products" id="input-add-separate-products" class="form-control">
                    {% if module_trade_import_add_separate_products %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                    </select>
                  </div>
                </div>
              <hr class="hr">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-add-one-product"><span data-toggle="tooltip" title="{{ help_add_one_product }}">{{ entry_add_one_product }}</span></label>
                   <div class="col-sm-10">
                    <textarea name="module_trade_import_add_one_product" rows="5" id="input-add-one-product" class="form-control" style="min-height: 40px; max-height: 40px; min-width: 100%; max-width: 100%; margin-bottom: 16px;">{{ module_trade_import_add_one_product }}</textarea>
                </div>
              </div>
            </div> 
          <div class="form-group" style="padding-top: 0;">
            <label class="col-sm-2 control-label" for="input-status" style="text-align: left; padding-top: 0;">{{ load_text }}</label>
            <div class="col-sm-10" style="width: 100%; text-align-last: auto;">
              <textarea name="json-text" id="input-group" class="form-control" style="min-height: 500px; min-width: 100%; max-width: 100%; margin-bottom: 16px;"></textarea>
              <p>
                <button type="button" id="button-get-json" class="btn btn-primary">{{ get_button }}</button>
                <button type="button" id="button-get-prices" class="btn btn-primary">{{ get_prices }}</button>
                <button type="button" id="button-get-groups" class="btn btn-primary">{{ get_groups }}</button>
                <button type="button" id="button-get-nomenclatures" class="btn btn-primary">{{ get_nomenclatures }}</button>
                <button type="button" id="button-get-customer-groups" class="btn btn-primary">{{ get_customer_groups }}</button>
                <button type="button" id="button-show-orders" class="btn btn-primary">{{ get_orders }}</button>
                <br>
                <button type="button" id="button-add-one-product" class="btn btn-primary">{{ add_one_product }}</button>
                <button type="button" id="button-add-one-separate-product" class="btn btn-primary">{{ add_one_separate_product }}</button>
                <br>
                <button type="button" id="button-clean-orders" class="btn btn-primary">{{ clean_orders }}</button>
                <button type="button" id="button-clean-tables" class="btn btn-primary">{{ clean_tables }}</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("body").on("click", ".save-settings", function() {
    $.ajax({
          type: 'post',
          url: 'index.php?route=extension/module/trade_import/save_settings&user_token={{ userToken }}',
          data: $('form input[type=\'text\'], form select, form textarea'),
          dataType: 'json',
          beforeSend: function() {
            console.log('Saving...');
              },
          success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');
            if (json['error_code']) {
              console.log('Saving failed');
              $('#input-code').after('<div class="text-danger">' + json['error_code'] + '</div>');
              $('.text-danger').parents(".form-group").addClass('has-error');
            }
            if (json['success']) {
              console.log('Settings saved');
              $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
              $("body").append('<div class="alert alert-success alert-dismissible alert-fixed">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
              $(".save-popup").remove();
              $("#next-schedule span").text(json['next_schedule']);
              setTimeout(function() {
                $('.alert-fixed').animate({opacity: 0}, 500, function() {
                  $(this).remove();
                });
              }, 1500);
            }
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
    });
  });
  $("#button-get-json").click(function() {
    $.ajax({
          type: 'get',
          url: 'index.php?route=extension/module/trade_import/get_json&user_token={{ userToken }}',
            beforeSend: function() {
              console.log('Loading...');
                $("#button-get-json").text('{{ text_loading }}');
                },
            success: function(data) {
              console.log('Function loaded ' + data);
                $("#input-group").val(data);
                $("#button-get-json").text('{{ get_button }}');
                }
    });
  });
    $("#button-get-groups").click(function() {
    $.ajax({
          type: 'get',
          url: 'index.php?route=extension/module/trade_import/show_groups&user_token={{ userToken }}',
            beforeSend: function() {
              console.log('Loading...');
                $("#button-get-groups").text('{{ text_loading }}');
                },
            success: function(data) {
              console.log('Function loaded ' + data);
                $("#input-group").val(data);
                $("#button-get-groups").text('{{ get_groups }}');
                }
    });
  });
    $("#button-get-nomenclatures").click(function() {
    $.ajax({
          type: 'get',
          url: 'index.php?route=extension/module/trade_import/show_nomenclatures&user_token={{ userToken }}',
            beforeSend: function() {
              console.log('Loading...');
                $("#button-get-nomenclatures").text('{{ text_loading }}');
                },
            success: function(data) {
              console.log('Function loaded ' + data);
                $("#input-group").val(data);
                $("#button-get-nomenclatures").text('{{ get_nomenclatures }}');
                }
    });
  });
    $("#button-get-prices").click(function() {
    $.ajax({
          type: 'get',
          url: 'index.php?route=extension/module/trade_import/show_prices&user_token={{ userToken }}',
            beforeSend: function() {
              console.log('Loading...');
                $("#button-get-prices").text('{{ text_loading }}');
                },
            success: function(data) {
              console.log('Function loaded ' + data);
                $("#input-group").val(data);
                $("#button-get-prices").text('{{ get_prices }}');
                }
    });
  });
    $("#button-get-customer-groups").click(function() {
    $.ajax({
          type: 'get',
          url: 'index.php?route=extension/module/trade_import/get_customer_groups&user_token={{ userToken }}',
            beforeSend: function() {
              console.log('Loading...');
                $("#button-get-customer-groups").text('{{ text_loading }}');
                },
            success: function(data) {
              console.log('Function loaded ' + data);
                $("#input-group").val(data);
                $("#button-get-customer-groups").text('{{ get_customer_groups }}');
                }
    });
  });
    $("#button-add-one-product").click(function() {
    $.ajax({
          type: 'get',
          url: 'index.php?route=extension/module/trade_import/add_one_product&user_token={{ userToken }}',
            beforeSend: function() {
              console.log('Loading...');
                $("#button-add-one-product").text('{{ text_loading }}');
                },
            success: function(data) {
              console.log('Function loaded ' + data);
                $("#input-group").val(data);
                $("#button-add-one-product").text('{{ add_one_product }}');
                }
    });
  });
    $("#button-add-one-separate-product").click(function() {
    $.ajax({
          type: 'get',
          url: 'index.php?route=extension/module/trade_import/add_one_separate_product&user_token={{ userToken }}',
            beforeSend: function() {
              console.log('Loading...');
                $("#button-add-one-separate-product").text('{{ text_loading }}');
                },
            success: function(data) {
              console.log('Function loaded ' + data);
                $("#input-group").val(data);
                $("#button-add-one-separate-product").text('{{ add_one_separate_product }}');
                }
    });
  });
    $("#button-clean-orders").click(function() {
    var c = confirm('{{ confirm_clean }}');
    if (c == true) {
        $.ajax({
              type: 'get',
              url: 'index.php?route=extension/module/trade_import/clean_orders&user_token={{ userToken }}',
                beforeSend: function() {
                  console.log('Loading...');
                    $("#button-clean-orders").text('{{ text_loading }}');
                    },
                success: function(data) {
                  console.log('Function loaded ' + data);
                    $("#input-group").val(data);
                    $("#button-clean-orders").text('{{ clean_orders }}');
                    }
        });
      }
    });
    $("#button-clean-tables").click(function() {
    var c = confirm('{{ confirm_clean }}');
    if (c == true) {
        $.ajax({
              type: 'get',
              url: 'index.php?route=extension/module/trade_import/clean_tables&user_token={{ userToken }}',
                beforeSend: function() {
                  console.log('Loading...');
                    $("#button-clean-tables").text('{{ text_loading }}');
                    },
                success: function(data) {
                  console.log('Function loaded ' + data);
                    $("#input-group").val(data);
                    $("#button-clean-tables").text('{{ clean_tables }}');
                    }
        });
      }
    });
    $("#button-show-orders").click(function() {
    $.ajax({
          type: 'get',
          url: 'index.php?route=extension/module/trade_import/get_orders&user_token={{ userToken }}',
            beforeSend: function() {
              console.log('Loading...');
                $("#button-show-orders").text('{{ text_loading }}');
                },
            success: function(data) {
              console.log('Function loaded ' + data);
                $("#input-group").val(data);
                $("#button-show-orders").text('{{ get_orders }}');
                }
    });
  });
    $("#content > .container-fluid select, #content > .container-fluid textarea:not(#input-group)").each(function() {
      $(this).on("change", function() {
        $(".save-popup").remove();
        $(this).parent().append('<button type="button" data-toggle="tooltip" title="{{ button_save }}" class="save-popup save-settings btn btn-primary"><i class="fa fa-save"></i></button>');
      });
    });
</script>
{{ footer }}