<!DOCTYPE html>
<html lang="ru">
<head>
  <title>{{ title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="author" content="Компания 4A">
  <link rel="apple-touch-icon" sizes="180x180" href="catalog/view/src/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="catalog/view/src/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="catalog/view/src/favicon/favicon-16x16.png">
  <link rel="manifest" href="catalog/view/src/favicon/site.webmanifest">
  <link rel="mask-icon" href="catalog/view/src/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="catalog/view/css/reset.css"/>
  <link rel="stylesheet" type="text/css" href="catalog/view/css/rangeslider.css"/>
  <link rel="stylesheet" type="text/css" href="catalog/view/css/style.css?v={{ random() }}"/> 
  <script type="text/javascript" src="catalog/view/javascript/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="catalog/view/javascript/jquery.plugin.js"></script> 
  <script type="text/javascript" src="catalog/view/javascript/jquery.mousewheel.min.js"></script>
  <script async type="text/javascript" src="catalog/view/javascript/jquery.ba-throttle-debounce.min.js"></script>
  <script async type="text/javascript" src="catalog/view/javascript/rangeslider.min.js"></script>
  <script defer src="https://unpkg.com/@popperjs/core@2"></script>
  <script defer src="https://unpkg.com/tippy.js@6"></script>
  <script async type="text/javascript" src="catalog/view/javascript/calc.js"></script>
  {% if robots %}
  <meta name="robots" content="{{ robots }}" />
  {% endif %}
  <base href="{{ base }}" />
  {% for analytic in analytics %}
  {{ analytic }}
  {% endfor %}
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ og_url }}" />
  {% if og_image %}
  <meta property="og:image" content="{{ og_image }}" />
  {% else %}
  <meta property="og:image" content="{{ logo }}" />
  {% endif %}
  <meta property="og:site_name" content="{{ name }}" />
<!--meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
-->
</head>
<body>
<header>
    <div class="header container inline-container-center flex-list">
        <div class="logo inline-container-center">
            <img src="/image/menu.svg" class="header-menu-burger mobile" alt="Меню" style="margin-right: 10px; cursor: pointer">
            <img src="/image/logo.svg" alt="ВентСтройСнаб">
            <p class="hide-mobile">Вент<br>Строй<br>Снаб</p>
        </div>
        <div class="hide-mobile">
          <div class="menu inline-container-center flex-list">
              <a href="#main">Главная</a>
              <a href="#choose">Подобрать решение</a>
              <a href="#how">Оплата и доставка</a>
              <a href="#clients">Клиенты</a>
              <a href="#contacts">Контакты</a>
          </div>
        </div>
        <div class="right dlc">
          <a class="WhatsApp" href="https://wa.me/79143161275"><img src="\image\container.svg"></a>
          <div class="phone">
            <a href="tel: +79143161275">+7 914 316-12-75</a>
            <div class="phones">
              <a href="tel: +74212459321"><span>+7 (4212) 45-93-21</span></a>
              <a href="tel: +74212624186"><span>+7 (4212) 62-41-86</span></a>
            </div>
          </div>
        </div>
    </div>
    <div class="header-menu-mobile mobile">
      <img class="header-menu-burger" src="\image\close.svg">
      <img class="icon-mobile" src="/image/logo.svg" alt="ВентСтройСнаб">
      <a class="hover" href="#main">Главная</a>
      <a class="hover" href="#choose">Подобрать решение</a>
      <a class="hover" href="#how">Оплата и доставка</a>
      <a class="hover" href="#clients">Клиенты</a>
      <a class="hover" href="#contacts">Контакты</a>
    </div>
</header>
<script>
  $('.header-menu-burger, .header-menu-mobile a').click(function(event) {
    $('.header-menu-mobile').toggleClass('active');
  });
  $('.phone').on('touchstart', function(event) {
    $('.phones').toggleClass('active');
  });  
</script>