{{ header }}
<div id="main">
    <div class="container">
        <div class="flex-center-all center">
            <div class="main-desc">
                <h1>Мы продаём воздух</h1>
                <p>Быстрый подбор решения по вентиляции для решения ваших технологических задач.</p>
                <div><a href="#choose" class="btn">Подобрать решение</a></div>
            </div>
        </div>
    </div>
</div>
<div id="choose">
    <div class="container section">
        <h2 class="center">Калькулятор пакета</h2>
        <div class="inline-container-center flex-column-mobile flex-list flex-justify">
            <div id="calc">
                <div>
                    <div class="calc-container">
                        <div class="calc-title">
                          <h2 id="calc-title">Назначение помещения</h2>
                        </div>
                        <div class="calc-content">
                            <div class="calc-room-container inline-container wrap-container">
                                <div>
                                    <button class="calc-room-type calc-element calc-choose" name="room_type" value="0" data-room-name="Кафе, ресторан">
                                        <div class="calc-room">
                                            <img class="calc-room-pic" src="image/restaunt 1.svg" alt="Кафе, ресторан">
                                            <p>Кафе, ресторан</p>
                                            <img class="calc-room-check" src="image/check.svg">
                                        </div>
                                    </button>
                                </div>
                                <div>
                                    <button class="calc-room-type calc-element calc-choose" name="room_type" value="1" data-room-name="Офис">
                                        <div class="calc-room">
                                            <img class="calc-room-pic" src="image/office 1.svg" alt="Кафе, ресторан">
                                            <p>Офис</p>
                                            <img class="calc-room-check" src="image/check.svg">
                                        </div>
                                    </button>
                                </div>
                                <div>
                                    <button class="calc-room-type calc-element calc-choose" name="room_type" value="2" data-room-name="Спортзал">
                                        <div class="calc-room">
                                            <img class="calc-room-pic" src="image/gym 1.svg" alt="Кафе, ресторан">
                                            <p>Спортзал</p>
                                            <img class="calc-room-check" src="image/check.svg">
                                        </div>
                                    </button>
                                </div>
                                <div>
                                    <button class="calc-room-type calc-element calc-choose" name="room_type" value="3" data-room-name="Частный дом">
                                        <div class="calc-room">
                                            <img class="calc-room-pic" src="image/home 1.svg" alt="Кафе, ресторан">
                                            <p>Частный дом</p>
                                            <img class="calc-room-check" src="image/check.svg">
                                        </div>
                                    </button>
                                </div>
                                <div>
                                    <button class="calc-room-type calc-element calc-choose" name="room_type" value="4" data-room-name="Склад">
                                        <div class="calc-room">
                                            <img class="calc-room-pic" src="image/storehouse 1.svg" alt="Кафе, ресторан">
                                            <p>Склад</p>
                                            <img class="calc-room-check" src="image/check.svg">
                                        </div>
                                    </button>
                                </div>
                                <div>
                                    <button class="calc-room-type calc-element calc-choose" name="room_type" value="5" data-room-name="Аптека">
                                        <div class="calc-room">
                                            <img class="calc-room-pic" src="image/pharma 1.svg" alt="Кафе, ресторан">
                                            <p>Аптека</p>
                                            <img class="calc-room-check" src="image/check.svg">
                                        </div>
                                    </button>
                                </div>
                                <div>
                                    <button class="calc-room-type calc-element calc-choose" name="room_type" value="6" data-room-name="Салон красоты">
                                        <div class="calc-room">
                                            <img class="calc-room-pic" src="image/beauty-store 1.svg" alt="Кафе, ресторан">
                                            <p>Салон красоты</p>
                                            <img class="calc-room-check" src="image/check.svg">
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calc-bottom inline-container-center flex-justify flex-list mobile-block">
                        <p class="calc-warning">Пожалуйста, выберите один из вариантов</p>
                        <button class="calc-prev btn hide-mobile"><span>Назад</span></button>
                        <div class="calc-steps inline-container-center">
                          <div class="calc-step inline-container-center calc-step-active" data-step="1">
                            <div class="calc-step-num">
                              <span>1</span>
                            </div>
                            <div class="calc-step-dash"></div>
                          </div>
                          <div class="calc-step inline-container-center" data-step="2">
                            <div class="calc-step-num">
                              <span>2</span>
                            </div>
                            <div class="calc-step-dash"></div>
                          </div>
                          <div class="calc-step inline-container-center" data-step="3">
                            <div class="calc-step-num">
                              <span>3</span>
                            </div>
                            <div class="calc-step-dash"></div>
                          </div>
                          <div class="calc-step inline-container-center" data-step="4">
                            <div class="calc-step-num">
                              <span>4</span>
                            </div>
                            <div class="calc-step-dash"></div>
                          </div>
                          <div class="calc-step inline-container-center" data-step="5">
                            <div class="calc-step-num">
                              <span class="calc-checkmark"><img src="image/calc-ready.svg"></span>
                            </div>
                          </div>
                        </div>
                        <button class="calc-next btn hide-mobile"><span>Вперед</span></button>
                        <div class="flex-container flex-center flex-justify flex-list mobile">
                            <button class="calc-prev btn"><span>Назад</span></button>
                            <button class="calc-next btn"><span>Вперед</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="choose-desc">
                <div class="choose-tooltip">
                    <p class="choose-text-1210">Выберите подходящий тип помещения. От этого параметра зависит тип вентиляции, которая требуется, чтобы вы смогли свободно дышать.</p>
                </div>
                <div class="choose-vis active" data-room-name="0">
                    <img src="catalog/view/src/calc/man-hello.png" class="choose-man">
                </div>
                <div class="choose-vis" data-room-name="Кафе, ресторан">
                    <img src="catalog/view/src/calc/tree2 1.svg" class="choose-tree">
                    <img src="catalog/view/src/calc/restaunt 1.svg" class="choose-building">
                    <img src="catalog/view/src/calc/road 1.svg" class="choose-road">
                    <img src="catalog/view/src/calc/man-home 1.png" class="choose-man">
                </div>
                <div class="choose-vis" data-room-name="Офис">
                    <img src="catalog/view/src/calc/office 1.svg" class="choose-building">
                    <img src="catalog/view/src/calc/road 1.svg" class="choose-road">
                    <img src="catalog/view/src/calc/man-office 1.png" class="choose-man">
                </div>
                <div class="choose-vis" data-room-name="Спортзал">
                    <img src="catalog/view/src/calc/gym 1.svg" class="choose-building">
                    <img src="catalog/view/src/calc/road 1.svg" class="choose-road">
                    <img src="catalog/view/src/calc/man-sport 1.png" class="choose-man">
                </div>
                <div class="choose-vis" data-room-name="Частный дом">
                    <img src="catalog/view/src/calc/tree2 1.svg" class="choose-tree">
                    <img src="catalog/view/src/calc/home 1.svg" class="choose-building">
                    <img src="catalog/view/src/calc/road 1.svg" class="choose-road">
                    <img src="catalog/view/src/calc/man-home.png" class="choose-man">
                </div>
                <div class="choose-vis" data-room-name="Склад">
                    <img src="catalog/view/src/calc/storehouse 1.svg" class="choose-building">
                    <img src="catalog/view/src/calc/road 1.svg" class="choose-road">
                    <img src="catalog/view/src/calc/man-sport 1.png" class="choose-man">
                </div>
                <div class="choose-vis" data-room-name="Аптека">
                    <img src="catalog/view/src/calc/tree2 1.svg" class="choose-tree">
                    <img src="catalog/view/src/calc/pharma 1.svg" class="choose-building">
                    <img src="catalog/view/src/calc/road 1.svg" class="choose-road">
                    <img src="catalog/view/src/calc/man-home 1.png" class="choose-man">
                </div>
                <div class="choose-vis" data-room-name="Салон красоты">
                    <img src="catalog/view/src/calc/tree2 1.svg" class="choose-tree">
                    <img src="catalog/view/src/calc/beauty-store 1.svg" class="choose-building">
                    <img src="catalog/view/src/calc/road 1.svg" class="choose-road">
                    <img src="catalog/view/src/calc/man-home 1.png" class="choose-man">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="how">
    <div class="container section">
        <h2 class="center">Как это работает?</h2>
        <div class="inline-container-center flex-justify flex-rwrap-mobile">
            <div class="how-img"><img src="catalog/view/src/ladder/1.png" alt="Заполни"></div>
            <div class="how-desc">
                <p class="how-number text-low">Шаг I</p>
                <h3 class="h1">Заполни</h3>
                <p>Мы ценим ваше время, поэтому разработали многофункциональный калькулятор, который поможет выбрать вариант решения индивидуально для вашего помещения с учетом необходимых работ, включающих в себя монтаж, установку и последующее внедрение вентиляции.</p>
            </div>
        </div>
        <div class="inline-container-center flex-justify flex-wrap-mobile">
            <div class="how-desc">
                <p class="how-number text-low">Шаг II</p>
                <h3 class="h1">Ознакомься</h3>
                <p>После заполнения калькулятора вам на почту будет отправлен пакет всех необходимых документов, полный список оборудования, материалов, а также предложение заключить договор для дальнейшего сотрудничества. Данная операция займет несколько минут. После согласия с вами свяжется наш менеджер и уточнит точные сроки работ, которые требуется провести.</p>
            </div>
            <div class="how-img"><img src="catalog/view/src/ladder/2.png" alt="Оплати"></div>
        </div>
        <div class="inline-container-center flex-justify flex-rwrap-mobile">
            <div class="how-img"><img src="catalog/view/src/ladder/3.png" alt="Получи"></div>
            <div class="how-desc">
                <p class="how-number text-low">Шаг III</p>
                <h3 class="h1">Получи</h3>
                <p>Ваш ВентКомплект готов! Укажите удобный для Вас способ доставки. Вы получите комплект в течение 12 дней.</p>
            </div>
        </div>
        <div class="inline-container-center flex-justify flex-wrap-mobile">
            <div class="how-desc">
                <h3 class="h2">Почему нужно работать с нами?</h3>
                <p>Принципы работы ВентСтройСнаб — просто, быстро, надежно, удобно. Нужный пакет уже готов и ждет, пока вы его закажете. Мы сами его доставим, смонтируем и проведем надзор. Помимо этого, предоставим исчерпывающую информацию по каждому технологическому процессу и подкрепим наши слова комплектом документов.</p>
            </div>
            <div class="how-img"><canvas width="688" height="616"></canvas></div>
        </div>
    </div>
</div>
<div id="clients">
    <div class="container section center">
        <h2 class="section1">Клиенты</h2>
        <p>Пока вы думаете, мы решаем проблемы десятков предпринимателей по всей России. Каждый день мы делаем наш продукт лучше и удобнее для вас.</p>
        <div class="clients-block">
            <div class="clients-img">
                <img src="catalog/view/src/partners/kfc.png" alt="KFC">
            </div>
            <div class="clients-img">
                <img src="catalog/view/src/partners/mrad.png" alt="Магазины радости">
            </div>
            <div class="clients-img">
                <img src="catalog/view/src/partners/dvb.png" alt="ДВБ">
            </div>
            <div class="clients-img">
                <img src="catalog/view/src/partners/uminaki.png" alt="Уминаки">
            </div>
            <div class="clients-img">
                <img src="catalog/view/src/partners/berezka.png" alt="Березка">
            </div>
            <div class="clients-img">
                <img src="catalog/view/src/partners/booster.png" alt="Booster">
            </div>
            <div class="clients-img">
                <img src="catalog/view/src/partners/ailant.png" alt="Айлант">
            </div>
            <div class="clients-img">
                <img src="catalog/view/src/partners/bdv.png" alt="Бакинский дворик">
            </div>
            <div class="clients-img">
                <p>Здесь может быть ваша компания :)</p>
            </div>
        </div>
    </div>
</div>
<div id="contacts">
    <div class="contacts-block container">
        <h2>Контакты</h2>
        <div class="inline-container flex-justify flex-list mobile-block">
            <div class="contacts-desc">
                <p class="h3">+7 914 316-12-75</p>
                <p class="text-low">Центральный офис в г. Хабаровск</p>
                <div class="contacts-phones button text-high">
                    <p>+7 (4212) 62-41-86</p>
                    <p>+7 (4212) 45-93-21</p>
                </div>
                <div class="contacts-phones button text-high">
                    <p>г. Хабаровск,<br>ул. Тихоокеанская 73, литер И, оф. 2</p>
                </div>
            </div>
            <div class="contacts-desc">
                <div class="contacts-mail">
                    <a href="mailto: info@ventstroysnab.ru" class="h3">ventstroysnab@gmail.com</a>
                </div>
                <div class="contacts-info">
                    <p class="button text-high" style="margin-bottom: 8px;">Реквизиты</p>
                    <p class="text-high">ООО «ВентСтройСнаб»<br>ИНН 2722054979<br>ОГРН 1162724056736</p>
                </div>
            </div>
            <div class="contacts-img hide-mobile">
                <img src="/image/human-thumb-up 2 2.png">
            </div>
        </div>
    </div>
    <div class="contacts-map how-img">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A342b153b92d05c5d6f499d41adf7c89f920d21fc4f030dc666453f106c677514&amp;width=100%25&amp;height=480&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>
<footer>
    <div class="container">
        <div class="inline-container-center flex-justify flex-list">
            <div class="footer-logo inline-container-center">
                <img src="/image/logo.svg" alt="ВентСтройСнаб">
                <p class="caption">© {{ year }} <span>ВентСтройСнаб</span></p>
            </div>
            <a href="https://4ait.ru" class="footer-4a">
                <img src="/image/4a.svg" alt="4А">
                <span>Разработано в компании 4А</span>
            </a>
        </div>
        <div class="textFream27">Внимание! Завод-изготовитель постоянно совершенствует свою продукцию и оставляет за собой право на внесение изменений в технические характеристики, цвета, цены,  комплектации и т.п., представленные на данном сайте, без предварительного уведомления.
        Обращаем Ваше внимание на то, что все представленные на сайте изображения и информация, касающаяся комплектаций, технических характеристик, цветовых сочетаний, а также стоимости носит информационный характер и  ни при каких условиях не является публичной офертой, определяемой положениями Гражданского кодекса Российской Федерации. Для получения подробной информации о продукции, пожалуйста, обращайтесь к менеджерам компании.</div>
    </div>
</footer>
<script type="text/javascript" src="catalog/view/javascript/canvas.js"></script>
<div class="modal-window-wrapper">
    <div class="modal-window-bg-close"></div>
    <div class="modal-window">
        <span class="modal-close">x</span>
        <h2 class="modal-title"></h2>
        <div class="modal-content"></div>
    </div>
</div>
</body>
</html>