/* general */
* {
	vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.6em;
	color: rgba(0, 0, 0, 0.6);
	min-width: 375px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1.2em;
	color: rgba(0, 0, 0, 0.87);
}
h1, .h1 {
	font-size: 72px;
	letter-spacing: -1.7px;
}
h2, .h2 {
	font-size: 48px;
}
h3, .h3 {
	font-size: 32px;
}
@media (max-width: 1138px) {
	h1, .h1 {
		font-size: 48px;
		letter-spacing: initial;
	}
}
a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
	transition: all 0.2s ease-in-out;
}
a:hover {
	color: rgba(0, 0, 0, 0.38);
}
a:focus, a.active {
	color: #317FE3;
}
.caption {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5em;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    cursor: pointer;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.dlc{
	justify-content: flex-end;
    display: flex;
    align-items: center;
}
.WhatsApp{
    margin-right: 8px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 39px;
    height: 40px;
    align-items: center;
 } 
a.btn {
	display: inline-block;
}
.button, .btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
.btn {
	border-radius: 24px;
	padding: 12px 24px;
	background-color: #FFC14D;
	color: rgba(0, 0, 0, 0.87)!important;
	opacity: 1;
	transition: all 0.2s ease-in-out;
}
.btn:hover, .btn:active {
	opacity: 0.8;
}
.list-unstyled {
	list-style-type: none;
}
.list-unstyled li {
	display: inline-block;
}
.container {
	max-width: 1440px;
	padding: 0 32px;
	margin: 0 auto;
}
@media (max-width: 1138px) {
	.container {
		padding: 0 16px;
	}
}
.inline-container, .flex-container {
	display: flex;
}
.inline-container-center, .flex-center {
	display: flex;
	align-items: center;
}
.flex-justify {
	justify-content: space-between;
}
.wrap-container, .flex-wrap {
	flex-wrap: wrap;
}
.wrap-container-r, .flex-rwrap {
	flex-wrap: wrap-reverse;
}
.flex-list > * {
	margin-right: 8px;
}
.flex-list > *:first-child {
	margin-left: 0!important;
}
.flex-list > *:last-child {
	margin-right: 0!important;
}
.text-low {
	color: rgba(0, 0, 0, 0.38)!important;
}
.text-disabled {
	color: rgba(0, 0, 0, 0.38)!important;
	text-decoration: line-through;
}
.text-medium {
	color: rgba(0, 0, 0, 0.6)!important;
}
.text-high {
	color: rgba(0, 0, 0, 0.87)!important;
}
/* header */
header {
	background-color: transparent;
	margin: 26px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.header a {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
}
.header > div {
	flex: 1;
	margin: 0 8px;
}
.header .menu {
	background: #FFF;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
	border-radius: 28px;
	padding: 16px 28px;
	white-space: nowrap;
}
.header .menu a {
	margin-right: 32px;
}
.header .logo img, .footer-logo img {
	height: 56px;
}
.header .logo p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.87);
	margin-left: 6px;
}
.header .phone {
	background-color: #317FE3;
	border-radius: 20px;
	padding: 8px 20px;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	line-height: 1em;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.header .phone > a {
	vertical-align: middle;
	color: #FFFFFF;
}
.header .phone span {
	display: inline-block;
	vertical-align: middle;
}
.header .phone:before {
	content: url('src/ic-phone.svg');
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	line-height: 0;
}
.header .phone:after {
	content: url('src/ic-arrow.svg');
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;
	line-height: 0;
}
.header .phone .phones {
	position: absolute;
	top: 40px;
	right: 0;
	pointer-events: none;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	padding: 8px 0;
}
.header .phone .phones a {
	background-color: #fff;
	color: #317FE3;
	border-radius: 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
	margin-bottom: 8px;
	padding: 8px 12px;
	display: block;
}
.header .phone .phones a:before {
	content: url('src/ic-phone2.svg');
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	line-height: 0;
}
@media (min-width:1139px){
.header .phone:hover .phones, .header .phone .phones:hover {
	opacity: 1;
	pointer-events: all;
}
}
@media (max-width: 1138px) {
	header {
		margin: 0;
		padding: 12px 0;
	}
	.header-menu-mobile {
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		padding-top: 95px;
		transition: all 0.2s ease-in-out;
		background-color: #fff;
	}
	.header-menu-mobile.active {
		left: 0;
	}
	.header-menu-mobile a {
		white-space: initial;
		padding: 20px;
		display: block;
		color: rgba(0, 0, 0, 0.87);
		font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
		text-align: center;
	}
	.hover:hover{
		color: #0080FF;
	}
	.header-menu-mobile .header-menu-burger {
		position: absolute;
		left: 16px;
		top: 16px;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 1em;
	    cursor: pointer
	}
	.header .logo img, .footer-logo img {
		height: 40px;
	}
	.icon-mobile{
		position: absolute;
        width: 40px; 
        left: 70px; 
        top: 12px;
        height: 40px;
	}
	.header .phone .phones.active{
		opacity: 1;
	}
}

/* main */
#main {
	background-color: #EBEFF9;
	background-image: url('src/clouds.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 212px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main .container > .inline-container-center {
	margin: 0 auto;
}
.main-desc {
	max-width: 512px;
}
.main-desc p {
    margin: 8px 0 24px 0;
}
.main-img {
	line-height: 0;
	margin-right: 60px;
}
.main-img img {
	height: 525px;
}
@media (max-width: 1138px) {
	#main {
		padding: 144px 0;
	}
}
/* section */ 
.section > h2 {
	margin: 54px 0 48px 0;
}
/* choose */
#choose{
	padding-top: 40px;
}
#choose .container > .inline-container-center > div {
	margin: 8px auto;
}
.choose-desc {
	position: relative;
	width: 672px;
	height: 648px;
}
.choose-tooltip {
	background-color: #FFC14D;
    border-radius: 24px 24px 0px 24px;
    padding: 24px;
    color: rgba(0, 0, 0, 0.87);
    position: absolute;
    top: -8px;
    left: -16px;
   
    width: 60%;
}
.choose-vis {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.choose-vis img {
	position: absolute;
	display: block;
	transition: all 0.5s ease-in-out;
	transform: scaleY(0) scaleX(0);
    transform-origin: bottom;
    opacity: 0;
}
.choose-vis .choose-tree {
	left: 0;
	bottom: 128px;
	width: 136px;
	height: 248px;
	transition-delay: 0s;
}
.choose-vis .choose-building {
	bottom: 128px;
	right: 224px;
	width: 304px;
	transition-delay: 0.2s;
}
.choose-vis .choose-road {
	right: 0;
	bottom: 0px;
	width: 568px;
	height: 128px;
	transition-delay: 0.4s;
}
.choose-vis .choose-man {
	right: 47px;
	bottom: 0;
	width: 304px;
	height: 648px;
	transition-delay: 0.6s;
}
.choose-vis.active img {
	transform: scaleY(1) scaleX(1);
	opacity: 1;
	transition: all 0.5s ease-in-out;
}
.choose-vis.active .choose-tree {
	transition-delay: 1.4s;
}
.choose-vis.active .choose-building {
	transition-delay: 1.2s;
}
.choose-vis.active .choose-road {
	transition-delay: 1s;
}
.choose-vis.active .choose-man {
	transition-delay: 0.8s;
}
/* calc */
#calc {
	width: 656px;
	border: 1px solid #DDDDDD;
	border-radius: 16px;
}
#calc > div {
	height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 600px;
}
#calc button {
	cursor: pointer;
}
#calc p {
	color: rgba(0, 0, 0, 0.87);
}
#calc .calc-title, #calc .calc-block > h3 {
	margin: 24px 24px;
	text-align: center;
}
#calc .calc-title h2 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	color: rgba(0, 0, 0, 0.87);
}
.calc-container{
	margin: 0px 0px 30px 0px;
}
#calc .calc-subtitle {
	margin-top: -32px;
}
#calc .calc-next span {
	display: inline-block;
	vertical-align: middle;
}
#calc .calc-next:after {
	margin-left: 8px;
	content: url('../src/calc/ic-next.svg');
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
}
#calc .calc-next.calc-agree:after {
	display: none;
}
#calc .calc-prev {
	background-color: #F5F5F5;
}
#calc .calc-prev span {
	display: inline-block;
	vertical-align: middle;
}
#calc .calc-prev:before {
	margin-right: 8px;
	content: url('../src/calc/ic-next.svg');
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
	transform: rotate(180deg);
}
#calc .calc-content {
	margin: 32px 0;
}
#calc .calc-block {
	margin-top: 32px;
}
#calc .calc-choose {
	font-size: 18px;
	font-weight: 400;
	width: 180px;
	background: transparent;
	color: rgb(2, 31, 75);
	margin: 8px 12px;
	text-align: center;
	height: 48px;
	border-radius: 24px;
	transition: all 0.2s ease-in-out;
}
#calc .calc-choose:hover {
	background: rgb(244, 246, 248);
}
#calc .calc-choose.active {
	background: rgb(49, 127, 227);
	color: #fff;
}
#calc .calc-bottom {
	margin: 16px 32px 24px 32px;
	position: relative;
}
#calc .calc-bottom > * {
	margin-right: 8px;
}
#calc .calc-bottom .calc-warning {
	position: absolute;
	text-align: center;
	left: 50%;
	top: -32px;
	width: 100%;
	transform: translateX(-50%);
	color: #F4364C;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}
#calc .calc-step {
	margin: 0!important;
}
#calc .calc-step > div {
	margin: 0;
}
#calc .calc-step-num {
	width: 40px;
	height: 40px;
	border: 2px solid #ddd;
	border-radius: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 36px;
	transition: all 0.7s ease-in-out 0.1s;
}
#calc .calc-step-dash {
	width: 18px;
	border: 1px solid #ddd;
	margin-left: -2px!important;
	margin-right: -2px!important;
	z-index: -1;
	transition: all 0.4s ease-in-out;
}
#calc .calc-step-num span {
	color: rgba(0, 0, 0, 0.38);
	transition: all 0.7s ease-in-out 0.1s;
}
#calc .calc-step-active .calc-step-num {
	border-color: #317FE3;
	transition: all 0.4s ease-in-out;
}
#calc .calc-step-active .calc-step-num:hover {
	border-color: #317FE3;
}
#calc .calc-step-active .calc-step-dash {
	border-color: #317FE3;
	transition: all 0.7s ease-in-out 0.1s;
}
#calc .calc-step-active .calc-step-num span {
	color: #317FE3;
	transition: all 0.4s ease-in-out;
}
#calc .calc-step-complete .calc-step-num {
	cursor: pointer;
	background-color: #317FE3;
	transition: all 0.4s ease-in-out;
}
#calc .calc-step-complete .calc-step-num span {
	color: #fff;
	transition: all 0.4s ease-in-out;
}
#calc .calc-step-num .calc-checkmark img {
    filter: contrast(0.38);
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
}
#calc .calc-step-complete .calc-step-num .calc-checkmark img {
	filter: none;
}
#calc .calc-block {
	width: 100%;
}
#calc .calc-number-input, #calc .calc-slider-input {
	margin-bottom: 32px;	
}
#calc .calc-number-input > * {
	width: 50%;
}
#calc .calc-number-input > p {
	text-align: right;
	padding-right: 24px;
}
#calc .calc-slider-input {
	display: flex;
	align-items: center;
}
#calc .calc-slider-input > p {
	margin-right: 24px;
	min-width: 200px;
	flex: 1;
	text-align: right;
}
#calc .calc-number-container {
	display: flex;
	align-items: center;
}
#calc .calc-number-container span {
	color: rgba(0, 0, 0, 0.38);
}
#calc .calc-number-input .calc-number-container span {
	margin-left: 8px;
}
#calc input {
	color: rgba(0, 0, 0, 0.87);
	box-shadow: inset 0px 0px 0px 1px #ddd;
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
}
#calc input:focus {
	box-shadow: inset 0px 0px 0px 2px #0080FF;
}
#calc .calc-number {
	text-align: center;
	width: 187px;
	padding: 4px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
}
#calc .calc-number::-webkit-outer-spin-button, #calc .calc-number::-webkit-inner-spin-button {
    margin-right: 3px;
}
#calc .calc-dim-input {
	align-items: baseline;
}
#calc .calc-dim-input > div {
	flex: 1;
}
#calc .calc-dim-input .calc-dim-x {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin: 0 3px;
	color: rgba(0, 0, 0, 0.38);
	transform: translateY(-4px);
}
#calc .calc-dim-input .calc-number {
	width: 100%;
}
#calc .calc-dim-input .calc-number-container + p {
	text-align: center;
	color: rgba(0, 0, 0, 0.38);
}
#calc .calc-text-input {
	margin: 16px 0;
}
#calc .calc-text-input .calc-text {
	background-color: transparent!important;
}
#calc .calc-text-input p {
	text-align: right;
	margin-right: 32px;
	width: 95px;
}
#calc .calc-text-container {
	flex: 1;
}
#calc .calc-text {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 24px;
}
#calc .calc-content-container {
	padding: 0 32px;
}
#calc .calc-room-container {
	align-items: flex-end;
	margin-bottom: -40px;
}
#calc .calc-room-container > div {
	padding: 0 0px;
	display: flex;
	flex: 1;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #ddd;
}
#calc .calc-room-type {
	background-color: transparent!important;
	border-radius: 0;
	height: 100%;
	margin: 0;
	width: 185px;
}
#calc .calc-room {
	position: relative;
}
#calc .calc-room .calc-room-pic {
	display: block;
	max-width: 108px;
	width: auto;
	border-bottom: 1px solid transparent;
	margin: 0 auto -1px auto;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
#calc .calc-room p {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: rgba(0, 0, 0, 0.87);
	position: absolute;
    bottom: -32px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
}
#calc .calc-room .calc-room-check {
	position: absolute;
	right: -4px;
	top: 8px;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
#calc .calc-room-type:hover .calc-room .calc-room-pic {
	opacity: 0.48;
}
#calc .calc-room-type.active .calc-room .calc-room-pic {
	border-bottom: 1px solid #317FE3;
	opacity: 0.48;
}
#calc .calc-room-type.active .calc-room p {
	color: #317FE3;
}
#calc .calc-room-type.active .calc-room .calc-room-check {
	opacity: 1;
}
#calc .calc-packet {
	margin: 32px 0;
	background: #FFC14D;
	border-radius: 16px;
	padding: 24px 40px;
}
#calc .calc-packet .get-complect {
	background-color: #fff;
}
#calc .calc-packet .get-complect.active {
	background-color: #317FE3;
	color: #fff!important;
}
@media (max-width: 1230px) {
	.choose-text-1210{
		line-height: 1.5;
        font-size: 16px;   
	}
}
@media (max-width: 1138px) {
	#calc {
		width: 100%;
		border: none;
	}
	#calc > div {
		min-height: initial;
	}
	#calc .calc-content {
		margin: 24px 0;
	}
	#calc .calc-title, #calc .calc-block > h3 {
		margin: 16px;
	}
	#calc .calc-room .calc-room-pic {
		max-width: 102px;
	}
	#calc .calc-room-type {
		width: 102px;
	}
	#calc .calc-room-container {
		overflow-y: hidden;
		flex-wrap: nowrap;
	}
	#calc .calc-room-container > div {
		padding: 0 8px;
        margin: 0 0 56px 0;
	}
	#calc .calc-room p {
		top: calc(100% + 10px);
		bottom: 0;
	}
	#calc .calc-bottom {
		margin: auto 12px 20px 12px;
	}
	#calc .calc-bottom .calc-warning {
		top: -16px;
	}
	#calc .calc-content-container {
		padding: 0;
	}
	#calc .calc-bottom > * {
		margin: 16px 0;
	}
	#calc .calc-steps {
		margin-top: 24px;
		justify-content: center;
	}
	#calc .calc-step-dash {
		width: 26px;
	}
	#calc .calc-slider-input, #calc .calc-number-input {
		display: block;
		margin-bottom: 40px;
	}
	#calc .calc-slider-input > p, #calc .calc-number-input > p {
		min-width: initial;
		margin: 0 0 20px 0;
		text-align: center;
		padding: 0;
	}
	#calc .calc-number-input > * {
		width: unset;
	}
	#calc .calc-number {
		width: 100%;
	}
	#calc .calc-packet > div > p {
		text-align: center;
	}
	#calc .calc-packet .get-complect {
		width: 100%;
		margin-top: 12px;
	}
	.rangeslider, input[type='range'] {
		max-width: 100%;
	}
	@-moz-document url-prefix() {
	    #choose .container > .inline-container-center > .choose-desc { 
	    	margin: -140px 0 -150px 0!important;
	    } 
	}
	#choose .container > .inline-container-center > div {
		margin: 0 auto!important;
	}
	.choose-desc {
		zoom: 0.535;
		-moz-transform: scale(0.535);
		order: -1;
	}
	.choose-tooltip {

		left: 0;
		padding: 24px 14px;
		line-height: 1.7em;
		z-index: 1;
	}
}
/* tippy */
.tippy-box {
	background-color: #fff;
	color: rgba(0, 0, 0, 0.87);
	border-radius: 16px;
	box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.2);
	padding: 16px 28px;
	width: 100vw;
}
.tippy-content {
	padding: 0;
}
.tippy-arrow {
	color: #fff;
}
.tippy-box[data-placement^=right]>.tippy-arrow:before {
	left: -20px;
	border-width: 20px 20px 20px 0;
}
.get-complect-hide {
	position: absolute;
	right: 0;
    top: -28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    padding: 4px;
}
@media(max-width: 767px) {
	[data-tippy-root] {
		position: fixed!important;
	    left: 0!important;
	    right: 0!important;
	    top: 0!important;
	    bottom: 0!important;
	    transform: none!important;
	    overflow: auto;
	    max-width: 100%!important;
	}
	.tippy-box {
		max-width: 100%!important;
		border-radius: 0;
		padding-top: 40px;
	}
	.tippy-arrow {
		display: none;
	}
}
/* how */
#how{
	padding-top: 40px;
}
#how .inline-container-center {
	margin-bottom: 24px;
}
#how .inline-container-center .inline-container {
	align-items: baseline;
}
.how-img{
    margin: 0 auto;	
}
.how-img img {
	max-width: 688px;
	width: 100%;
}
.how-img img, .how-img canvas {
	border-radius: 16px;
}
.how-number {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 8px;
}
.how-desc {
	margin: 0 auto;
	max-width: 480px;
	padding: 0 16px;
	box-sizing: content-box;
}
.how-desc h3 {
	margin-bottom: 16px;
}
@media (max-width: 1138px) {
	.how-desc {
		margin-bottom: 16px;
		padding: 0;
	}
	.how-img canvas {
		width: 100%;
	}
}
/* clients */
#clients{
	padding-top: 40px;
}
#clients .container > h1 {
	margin-bottom: 32px;
}
#clients .container > p {
	max-width: 640px;
	margin: 0 auto;
}
.clients-block {
	margin: 24px auto;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, 204px);
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 1024px;
}
.clients-img {
	height: 204px;
	outline: 1px solid #DEE4F5;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	position: relative;
}
.clients-img:hover {
	outline: 1px solid #DEE4F5;
}
.clients-img > img {
	max-height: 140px;
    max-width: 172px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.clients-img > p {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* contacts */
#contacts {
	padding: 90px 0 0 0;
}
.contacts-block {
	max-width: 1024px;
	margin: 0 auto 40px auto;
	box-sizing: content-box;
}
.contacts-map {
	position: relative;
	line-height: 0;
}
.contacts-contacts {
	position: absolute;
	bottom: 0;
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	pointer-events: none;
	right: 0;
	left: 0;
}
.contacts-contacts > div {
	align-items: flex-start;
}
.contacts-desc {
	margin-top: 48px;
}
.contacts-desc h2 {
	margin-bottom: 48px;
}
.contacts-desc .contacts-mail a {
	color: #317FE3;
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(49, 127, 227, 0.32);
}
.contacts-desc .contacts-phones {
	margin-top: 24px;
}
.contacts-desc .contacts-phones > p {
	margin-bottom: 8px;
}
.contacts-desc .contacts-mail {
	margin-bottom: 28px;
}
.contacts-desc .contacts-info {
	margin-bottom: 24px;
}
#contacts_2gis iframe {
	border: none!important;
}
@media (max-width: 1138px) {
	.contacts-block > h2 {
		margin-bottom: 16px;
	}
	.contacts-contacts {
		position: static;
	}
	.contacts-desc {
		margin: 0 auto 24px auto;
	}
	.contacts-desc .contacts-mail a {
		font-size: 24px;
	}
}
footer > .container {
	max-width: 1024px;
	box-sizing: content-box;
}
footer > .container > div {
	min-height: 124px;
	padding: 16px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}
footer .footer-logo p {
	margin-left: 16px;
}
footer .footer-logo p span {
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
footer .footer-4a {
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	padding: 10px 12px;
	width: 163px;
	font-size: 14px;
	line-height: 14px;
	display: flex;
	align-items: center;
}
footer .footer-4a > * {
	display: inline-block;
	vertical-align: middle;
}
footer .footer-4a img {
	height: 28px;
	width: 32px;
}
footer .footer-4a span {
	margin-left: 8px;
}
.modal-window-wrapper {
	pointer-events: none;
	opacity: 0;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	position: fixed;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modal-window-bg-close {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.modal-window {
	background: #fff;
	box-shadow: 0 8px 16px 0 grey;
	width: 600px;
	height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	padding: 48px 24px 24px 24px;
	z-index: 1;
}
.modal-title {
	padding-bottom: 24px;
}
.modal-close {
	position: absolute;
    right: 32px;
    top: 16px;
    cursor: pointer;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.modal-window-wrapper.active {
	background-color: rgba(255, 255, 255, 0.8);
	opacity: 1;
	pointer-events: all;
}
.complect-info {
	border-collapse: collapse;
}
@media (max-width: 1138px) {
	.complect-info {
		width: 100%;
	}
}
.complect-info td {
	padding: 12px 4px;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}
.complect-info td.quantity {
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
/* mobile */
@media (min-width: 1139px) {
	.mobile {
		display: none!important;
	}
}
@media (max-width: 1138px) {
	.hide-mobile {
		display: none!important;
	}
	.flex-wrap-mobile {
		flex-wrap: wrap;
	}
	.flex-rwrap-mobile {
		flex-wrap: wrap-reverse;
	}
	.mobile-block {
		display: block;
	}
	.flex-column-mobile {
		flex-direction: column;
	}

}

footer .textFream27{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6B6B6E;
}